xml/request.dtd

<!ELEMENT request (user_details?, next_drawing?, user_submit?)>
  <!ELEMENT user_details EMPTY>
  <!ELEMENT next_drawing EMPTY>
  
  <!ELEMENT user_submit (signature?)>
    <!ELEMENT signature (#PCDATA)>

<!ATTLIST user_details id CDATA #REQUIRED>

<!ATTLIST next_drawing user_id CDATA #REQUIRED>
<!ATTLIST next_drawing drawing_id CDATA #IMPLIED>

<!ATTLIST user_submit name CDATA #IMPLIED>
<!ATTLIST user_submit email CDATA #IMPLIED>