xml/request.dtd

<!ELEMENT request (user_details?, user_submit?, next_drawing?)>
  <!ELEMENT user_details EMPTY>
  <!ELEMENT user_submit (signature?)>
    <!ELEMENT signature (#PCDATA)>
    
  <!ELEMENT next_drawing EMPTY>

<!ATTLIST user_details id CDATA #REQUIRED>

<!ATTLIST user_submit id CDATA #REQUIRED>
<!ATTLIST user_submit name CDATA #IMPLIED>
<!ATTLIST user_submit email CDATA #IMPLIED>

<!ATTLIST next_drawing user_id CDATA #REQUIRED>
<!ATTLIST next_drawing drawing_id CDATA #IMPLIED>